


/*! HTML5 Boilerplate v5.1.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#child-name-date {
  margin-top: .5em;
  margin-bottom: .5em;
  font-size: 16pt;
  font-weight: bold;
  text-align: left;
  margin-bottom: 1em;
  padding-left: 1.3em;
 }
  #child-name-date p {
    display: inline;
    font-family: inherit;
    color: #000;
    font-size: 25pt;
    margin: 1em; }
#child-name-date img {
  border-radius: 100%;
  float: right;
  margin-right: 3.5em;
}

/*===============================
Update by date and child
===============================*/
.update-child-by {
  /*background: #E0E0E0;*/
  width: 90%;

}
.update-child-by div {
  background: #E0E0E0;
  padding: 1em;
  width:45%;
}
.update-child-by button {
  background: #E0E0E0;
  border: 0;
  border-radius: 0;
  padding: 7px;
  width: 13em;
}
#update1 {
  background: #E0E0E0;
  border: 0;
  border-radius: 0;
  padding: 7px;
  width: 6em;
}
/*=================================
Add a Child
=================================*/
section#calendar-form2 {
  margin: 2em;
  padding: 1em;
  width: 100%;
}
section#calendar-form2 button {
  background: #E0E0E0;
  width:8em;
  border: 0;
  border-radius: 0;
  padding: 5px;

}
section#calendar-form2 ul {
  list-style: none;
  padding: 0;
}
section#calendar-form2 h2 {
  padding:.5em;
}
section#calendar-form2 div {
  background: #E0E0E0;
}
section#calendar-form2 label {
  padding: 1em;
}

/*======================================================================
Daily Report Forms Page
======================================================================*/

/*.active {
  padding: 1em;
  background: rgba(216, 216, 216, 0.5);
  border-radius: 10px;
  margin: 1em;
  width: 60%;
  margin: 0 auto;
  display: block; }*/

form.activities {
  padding: 1em;
  /*background: rgba(216, 216, 216, 0.5);*/
  /*background: #E0E0E0;*/
  border-radius: 10px;

  width: 95%;
  margin: 0 auto;
  display: block;
}
form.activities h2 {
  text-align: left;
}
form.activities th {
  text-align: left;
  margin-left: 1em;
  padding: 7.5px;
}
form.activities input {
  height: 2em;
  margin: .5em;
  padding: .5em;
}
form.activities label {
  padding: 1em;
  font-size: 15px;
}
form.activities select {
  height: 2em;
  margin: .5em;
  border: none;
}
form.activities button {
  margin-left: 15px;
  width: 12em;
  background: #E0E0E0;
  margin-top: 1em;
}
form.activities button:hover {
  background: #fff;
}
form.activities .col-sm-6 {
  /*margin: .1em;*/
  width: 48%;
  padding-bottom: 1em;
  margin-left: 1%
}
  div#act h2 {
    color: #fff;
    font-size: 3em;
    font-weight: 600;

    text-align: center;
    padding: .5em;
  }
#daily-report-top-left {
  list-style: none;
  display: block;
  background: #E0E0E0;
  min-height: 300px;
}
#daily-report-top-left li  {
  display: inline-block;
}

#daily-report-top-right {
  background: #E0E0E0;
  display: block;
  min-height: 300px;
}
#daily-report-top-right {
  padding: .3em;
  text-align: center;

}
#daily-report-bottom-left {
  background: #E0E0E0;
  display: block;
  min-height: 300px;
  margin-top: 1em;
  /*border-top: 1px solid #000;*/
}
#daily-report-bottom-right {
  background: #E0E0E0;
  display: block;
  min-height: 300px;
  margin-top: 1em;
  /*border-top: 1px solid #000;*/

}

#email a {
  color: #000;
  text-decoration: none;
}
/*===========================
Admin Fail Login
===========================*/

form#admin-fail-login {
  margin: 0.5em;
  padding: 2em;
  background: rgba(216, 216, 216, 0.5);
  border-radius: 5px;
  display: block;
  width: 290px;
  margin-left: 38%;
  margin-top: 15%;
}
div.fieldWrapper {
  /*color: #fff;*/
}
div.fieldWrapper li {
  list-style: none;
}

div.form-group {
  margin: 0.5em;
  display: inline-block;
  width: 35%;
 }




/*============================
Main Header
============================*/
body {
  font-family: 'lato';
  background-color: #4A4A4A;
}
a {
  color: #fff;
}
.active {
color: #F7F21A !important;
text-decoration: underline;
}
a:active {
  color: #F7F21A;
  text-decoration: underline;
}
a:visited {
  color: inherit;
}
header.main-header {
  min-width: 100%;
  margin: 0 auto;
  display: block;
  background-color: #4A4A4A;
  height: 5em;
  clear: both;
  overflow: auto; }
header.main-header h1 {
  font-size: 30pt;
  font-family: 'lato';
  font-weight: 300;
  margin: 0;
  margin-top: .2em;
  margin-left: .8em;
  display: block;
  float: left;
  color: #fff; }
span.C-D {
  color: #F7F21A;
}
  header.main-header h1 a:hover {
    text-decoration: none;
    color: #F7F21A;
  }
  header.main-header a:visited {
    color: #fff;
  }
section.welcome-page h2 {
  color: #fff;
  position: absolute;
  z-index:10;
}
section.welcome-page p {
  color: #fff;
  position: absolute;
  z-index:10;

}
div.main-image {
  position: relative;
  overflow: hidden;
}


  /*
  ============================
  Nav Sections
  ============================*/

  nav#main-nav {
    float: right;
    margin: 1em;
    padding: .5em;
    font-size: 1.414em;
    margin-top: .5em;
    height: 1em;
    /*margin-right: 9em;*/
    z-index: 10;

    left: 45%;
  }
  nav#main-nav a {
    margin: 1em;
  }
  nav#main-nav a:hover {
    color: #F7F21A;
    text-decoration: none;
    border-radius: 1px;
  }


#tablet {
  display: none;
}


/*=============================
Admin Login
=============================*/

nav#main-login {
  width: 40%;
  padding: 1.5em;
  position: absolute;
  z-index:10;
  /*background: rgba(216, 216, 216, 0.5);*/
  margin: 1em;
  margin-top: .3em;
  margin-right: 5em;
  display: inline-block;
  border-radius: 3px;
  top: 46%;
  right: 0;
  bottom: 0;
  left: 4%;
  height: 190px;
}
nav#main-login a {
  text-decoration: none; }
nav#main-login form.form-login div.form-group {
  display: inline-block;
  margin: 1em;
}
nav#main-login form.form-login button {
  margin-left: 15px;
  background-color: #8c8c8c;
  border-color: #4e4e4e;
  display: inline-block;
  padding: 6px 15px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
}
nav#main-login ul.dropdown-menu {
  float: right;
  padding: 0; }
nav#main-login ul.form-login {
  display: inline;
  text-decoration: none; }
nav#main-login li {
  list-style: none; }
nav#main-login li a.dropdown-toggle {
  display: inline;
  margin-right: 1em;
  color: #fff;
  font-size: 2em;
}
nav#main-login #logout a {
    margin-top: 0; }
  .container-fluid {
    padding: 0;
}
div#welcome {
  /*position: absolute;
  display: inline-table;
  color: #fff;
  font-size: 6.2em;
  top: 17%;
  right: 0;
  bottom: 0;
  left: 7%;
  z-index: 0;*/
}
div#welcome h1{
  position: absolute;
  display: inline-table;
  font-size: 5.2em;
  color: #fff;
  top: 20%;
  right: 0;
  bottom: 0;
  left: 6.5%;
  z-index: 0;*/
}
p#instruction {
  position: absolute;
  display: inline-table;
  color: #fff;
  font-size: 1.414em;
  line-height: 2em;
  top: 29%;
  right: 0;
  bottom: 0;
  left: 7.5%;
  z-index: 0;
}
p#instruction a {
  text-decoration: none;
}
/*p#instruction a:hover {
  color: #000;
  text-decoration: none;
  background: #E0E0E0;
  padding: .3em;
  border-radius: 5px;
}*/
input webkit-autofill textarea webkit-autofill select webkit-autofill {
  background-color: #fff;
}

/*=========================
Main Conatiner
=========================*/

main.container {
  min-width: 100%;
  margin: 0 auto;
  padding: 0;
  min-height: 800px;
  background-color: #fff;
  /*background-image: url('img/background.jpg');*/
  /*background-repeat: no-repeat;*/
  overflow: auto;
  position: relative;

}
div.main-image img {
  /*min-width: 100%;*/
  height: auto;
  margin: 0 auto;
  position: relative;
  width: 100%;
  /*background:#7f7f7f;
  background:rgba(0,0,0,0.5);*/
}
 div.main-image:after {
  content: " ";
  /*z-index: 10;*/
  display: block;
  position: absolute;

  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
#list {
  width: 320px;
  font-size: 15px; }

#list ul.add-child {
  list-style: none; }


#list ul.add-child li.child a {
  display: block;
  text-decoration: none;
  color: #000;
  background-color: #FFFFFF;
  line-height: 30px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #CCCCCC;
  padding-left: 10px;
  cursor: pointer; }
  #list ul.add-child li.child a:hover {
    background-color: #585858; }

#list ul.add-child li.child a:hover {
  color: #fff;
  background-repeat: repeat-x; }

#list ul.add-child li.child a strong {
  margin-right: 10px; }

#datepicker {
  margin: 1em; }

#calendar-form {
  width: 30%;
  height: auto;
  background-color: #E0E0E0;
  margin-left: 2em; }

#add {
  margin-left: 2em;
  margin-bottom: 2em; }

select {
  width: 125px;
  border: none;
}

button {
  color: #000; }

section#wrap {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%; }
  section#wrap h2 {
    padding: .5em;
    text-align: center;
    margin-top: 0; }

input {
  border: none;
}
/*=====================================
childs and date list archive section
=====================================*/

#archives button {
  margin: 2em;
  background: #F7F21A;
  width: 18em;
  height: 36px;
  border: 0;
  margin-left: 68px;
  border-radius: 0;
}

#archive-date {
  width: 20%;
  margin-left: 1em;
}
#archive-date li {
  list-style: none;
  margin: 1em;
  padding: 8px;
  background: #E0E0E0;
}

h3.rh3 {
  margin-left: 1.5em;
}
ul.fallback li a {
    color: 000;
  }
.btn-default a:visited {
  color: #000;
}
.btn-default a {
  color: #000 !important;
}
.btn-default {
  background: #ccc !important;
}
/*===============
dropdown
===============*/


/*==========================
child grid section
==========================*/

section#wrap {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%; }
  section#wrap h2 {
    padding: .5em;
    text-align: center;
    margin-top: 0; }
section.kids h2 {
  color: #000;
  font-size: 3.998em;
  padding: 2%;
  margin: 0 auto;

  text-align: center;
}
div.row {
margin: 0 auto;

}
div.col-lg-2.col-md-3.col-sm-3 p {
  color:#000;
  padding: .5em;
  font-size: 1.999em;
  text-align: center;
  }
#roster-images  {
text-align: center;

}
#roster-images button {
  background: #E0E0E0;
}
#roster-images p {
  font-size: 1.999em;
}
div.col-lg-2.col-md-3.col-sm-3 input {
  margin: 0 auto;
}
.container-fluid {
  padding: 0 !important;
}
#roster-images input {
  border-radius: 100px;
  text-align: center;
}
.col-md-3 {
  margin-top: 2.5em;
}



/*===========================
Footer Section
===========================*/

#about-us {
  background-color: #4A4A4A;
  overflow: auto;
}
 #about-us {
  color: #fff;
  text-align: left;
}
#about-us a {

}

.top-footer {
  width:60%;
  margin-left: 20%;
  margin-right: 5%;
}
#goback.btn-lg {
  /*padding: 10px 20px;
  font-weight: bold;
  color: #000;*/
  margin-left: 15px;
  background-color: #8c8c8c;
  border-color: #4e4e4e;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  border-radius: 4px;
}
.main-footer {
  color: #fff;
  color: rgba(255,255,255,.5);
  text-align: left;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
div.col-sm-9  {
  font-size: 1.999em;
  color: #fff;
  text-align: left;
  width: 27%;
  margin-left: 6%;
  margin-top: 2em;

}
div.inner {
  margin-top: 6em;
  text-align: center;
  font-size: 12pt;
}



/*===============================
media queries
===============================*/
@media (max-width: 800px) {


  header.main-header {
    max-width: 82.3%;
    width: 900px;
    margin: 0 auto;
  }
  main.container {
    width: 80%;
    width: 900px;
    margin: 0 auto;

  }
input {
    margin: 0;
    font-family: fantasy;
    color: red;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 30px;
    font-weight: 700;
    padding-right: 10px;

}

td, th {
    text-align: center;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000000;
    padding-right: 5px;
    padding-left: 5px;

}

table {
    background-color: transparent;
}




/*=======================
styles for huge button
=======================*/
/*div#act {
  width: 80%;
  margin: 0 auto;
  height: 500px;
  font-size: 8em;
  /*background-color: gray;
  /*text-align: center;
  position: relative;
  border-radius: 5px; }
  #act img {
    border-radius: 10px;
  }*/
/*div#act h2 {
  color: #fff;
  font-size: .3em;
  font-weight: 600;
  font-family: fantasy;*/
  /*position: absolute;
  bottom: 1em;
  left: 4em;
  top:5%;
  right:0;
  left:0;
  bottom:0;*/
  /*}*/
/*
============================
stashed styles just in case
============================*/
