{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block content %}
{% bootstrap_css %}


   <form id="calendar-form">
     <!-- <img id="boy" src="{% static 'img/boy.jpg' %}"  width:"150"; height="350";/> -->
   <div id="calendar-page">
     <input id="datepicker" name="pickdate" placeholder="Search a previous day"/>
     <button type="button">save</button>
     <h3>Date selected: {% 'name' %}</h3>
        <div id="list">
             {% if messages %}
             <ul class="messages">
               {% for message in messages %}
               <p id="message_{{ forloop.counter }}" {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                {{ message }}
             </p>
               {% endfor %}
             </ul>
             {% endif %}

        </div>
    </div>

{% endblock %}
