{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block content %}
    {% if user.is_authenticated %}
{% bootstrap_css %}
<section class="kids">

<h2>Child Management</h2>



 <div class="row">
{% for child in object_list %}
  <div id="roster-images" class="col-lg-2 col-md-3 col-sm-3 ">
{#    <a href="/child/update/{{ child.id }}/"> UPDATE child </a>#}
    <a href="/child/update/{{ child.id }}/"><input type="image" src="{% static '' %}{{ child.image }}" name="image" width="170" height="170"></a>

    <p>{{ child }}</p>


  </div>
{% endfor %}
  <div id="roster-images" class="col-lg-2 col-md-3 col-sm-3 ">


    <button class="btn btn-default" style="margin-top: 50px;width: 146px;"><a href="{% url "child-new" %}">Add a new child</a></button>



  </div>
</div>
<!-- <button class="btn btn-default"><a href="{% url "child-new" %}">Add a new child</a></button>
<ul class="bob-child"> -->


<!-- </ul> -->
    </section>


    {% else %}
{% endif %}
{% endblock %}
