{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<!-- <div id=calander><img src="{% static 'img/calander.jpg' %}" alt="calander"/></div> -->
   <form id="calendar-form">
     <img id="boy" src="{% static 'img/boy.jpg' %}"  width:"150"; height="350";/>
     <div id="calendar-page">
     <input id="datepicker" placeholder="Pick a day"/>
     <h2>Pick a day to see the list of children</h2>
    </div>
     <img id="girl" src="{% static 'img/girl.jpg' %}" width:"150"; height="350";/>
   </form>
{% endblock %}
