{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block content %}
<!-- <div id=calander><img src="{% static 'img/calander.jpg' %}" alt="calander"/></div> -->
   <form id="calendar-form">
     <!-- <img id="boy" src="{% static 'img/boy.jpg' %}"  width:"150"; height="350";/> -->
     <div id="calendar-page">
     <input id="datepicker" placeholder="Search a previous day"/>
     <button type="button">save</button>
     <div id="list">
       {% if messages %}
       <ul class="messages">
         {% for message in messages %}
         <p id="message_{{ forloop.counter }}" {% if message.tags %} class="{{ message.tags }}" {% endif %}>
          {{ message }}
       </p>
         {% endfor %}
       </ul>
       {% endif %}
       <ul class="add-child">
          {% for child in object_list %}
          <li class="child"><a href="#"><strong>Terry{{ child }}</strong>birthday: {{ child.birthday}} </a></li>
          {% endfor %}

       </ul>
     </div>
    </div>
     <!-- <img id="girl" src="{% static 'img/girl.jpg' %}" width:"150"; height="350";/> -->
   </form>
   <section id="add">
    <h3>Add a new child</h3>
    <ul class="add-child">
      {% for child in object_list %}
      <li class="child">{{ child }} birthday: {{ child.birthday}}  <a href="/child/update/{{ child.id }}/">  update child</a></li>
      {% endfor %}
    </ul>
    <a href="{% url "child-new" %}"> <button type="button" name="button">add child</button></a>

    {# <a href="{% url "childs_new" %}">childs_new</a>#}
  </section>
  <section>

  </section>
{% endblock %}
