{% extends "base.html" %}
{% load staticfiles %}
<!-- {% load bootstrap3 %} -->
{% block content %}
<!-- {% bootstrap_css %}
{% bootstrap_javascript jquery=1 %} -->
<!-- {% if messages %}
<ul class="messages">
  {% for message in messages %}
  <p id="message_{{ forloop.counter }}" {% if message.tags %} class="{{ message.tags }}" {% endif %}>
   {{ message }}
</p>
  {% endfor %}
</ul>
{% endif %} -->
<section id="kids">
  <div><a href="#daily-report"><input type="image" src="{% static 'img/kadence.png' %}" name="image" width="170" height="170"></a><p>Kadence</p></div>
  <div><a href="#daily-report"><input type="image" src="{% static 'img/kadence.png' %}" name="image" width="170" height="170"></a><p>Kadence</p></div>
  <div><a href="#daily-report"><input type="image" src="{% static 'img/kadence.png' %}" name="image" width="170" height="170"></a><p>Kadence</p></div>
  <div><a href="#daily-report"><input type="image" src="{% static 'img/kadence.png' %}" name="image" width="170" height="170"></a><p>Kadence</p></div>
  <div><a href="#daily-report"><input type="image" src="{% static 'img/kadence.png' %}" name="image" width="170" height="170"></a><p>Kadence</p></div>
  <div><a href="#daily-report"><input type="image" src="{% static 'img/kadence.png' %}" name="image" width="170" height="170"></a><p>Kadence</p></div>
  <div><a href="#daily-report"><input type="image" src="{% static 'img/kadence.png' %}" name="image" width="170" height="170"></a><p>Kadence</p></div>
  <div><a href="#daily-report"><input type="image" src="{% static 'img/kadence.png' %}" name="image" width="170" height="170"></a><p>Kadence</p></div>
  <div><a href="#daily-report"><input type="image" src="{% static 'img/kadence.png' %}" name="image" width="170" height="170"></a><p>Kadence</p></div>
  <div><a href="#daily-report"><input type="image" src="{% static 'img/kadence.png' %}" name="image" width="170" height="170"></a><p>Kadence</p></div>
</section>

<h1>Children</h1>
<ul class="add-child">
  {% for child in object_list %}
  <li class="child">{{ child }} birthday: {{ child.birthday}}  <a href="/child/update/{{ child.id }}/">  update child</a></li>
  {% endfor %}
</ul>
<a href="{% url "child-new" %}">add child</a>

{# <a href="{% url "childs_new" %}">childs_new</a>#}
{% endblock %}
