{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block content %}
{% bootstrap_css %}

<section class="kids">


    <h2>Toddler Classroom</h2>
    <div class="row">
{% for child in object_list %}


  <div id="roster-images" class="col-lg-2 col-md-3 col-sm-3 ">
      <a href="./dailyreport/update/{{ child.id }}"><input type="image" src="{% static '' %}{{  child.image }}" name="image" width="170" height="170"></a>
      <p>{{ child }}</p>
  </div>

 {% endfor %}
    </div>

</section>


{% endblock %}
