{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block content %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}


<h1>Daily Report List</h1>
    <input type="date" class="form-control" placeholder="Date input" style="width: 226px;">
  {% for dailyreport in object_list %}
      <section id="kids">
        <div>
            <a href="#daily-report"><input type="image" src="{% static 'img/kadence.png' %}" name="image" width="170" height="170"></a>
            <p>{{ dailyreport.child.first_name }}<br>{{ dailyreport.child.gender }}</p>
            <p>Bday:{{ dailyreport.child.birthday}}</p>
            <a href="/dailyreport/update/{{ dailyreport.id }}/">  update daily report</a>
        </div>
      </section>
  {% endfor %}
{% endblock %}
