{% extends "base.html" %}
{% block content %}
<section id="sub-header-daily">
<h1 id="activities">Daily Activity Updates</h1>
<form class="activities" action="{% url "daily-report" %}" method="POST">
  {% csrf_token %}
  <ul class="mood">
    <li>
      <label for="id_date">Date:</label>
      <input id="id_date" name="date" type="date">
      <!-- {{form.date}} -->
    </li>
    <li>
      <label for="id_child">Child:</label>
      <!--<select id="id_child" name="child">
      <option value="" selected="selected">---------</option>
      <option value="1">Bobby</option>
      <option value="2">Julie</option>
      <option value="3">Terry</option>
    </select> -->
    {{form.child}}
    </li>
    <li>
      <label for="id_arrival_time">Arrival time:</label>
      <input type="time" id="id_arrival_time" name="arrival_time"/>
    <!-- {{form.arrival_time}} -->
  </li>
    <li>
      <label for="id_departure_time">Departure time:</label>
      <input type="time" id="id_departure_time" name="departure_time"/>
      <!-- {{form.departure_time}} -->
    </li><br/>

    <li class="mood-am"><label for="id_mood_am">Mood am:</label>
      <!-- <select id="id_mood_am" name="mood_am">
      <option value="HA" selected="selected">Happy</option>
      <option value="FI">Fine</option>
      <option value="LF">A Little Fussy</option>
      <option value="VF">Very Fussy</option>
      <option value="NW">Not Well</option>
      </select> -->
      {{form.mood_am}}
    </li>
    <li class="mood-pm">
      <label for="id_mood_pm">Mood pm:</label>
      <!-- <select id="id_mood_pm" name="mood_pm">
      <option value="HA" selected="selected">Happy</option>
      <option value="FI">Fine</option>
      <option value="LF">A Little Fussy</option>
      <option value="VF">Very Fussy</option>
      <option value="NW">Not Well</option>
      </select> -->
      {{form.mood_pm}}
    </li>
  </ul>
  <input id="save_daily_report" type="submit" value="Save"/>
  <button id="daily-report-reset" type="reset" class="btn btn-default">Cancel</button>
</form>​
<nav id="daily-report">
  <a href="{% url 'daily-report' %}">NEXT CHILD INTAKE</a>
  <a href="{% url 'childs-list' %}">CHILD LIST</a>
  <a href="{% url 'child-new' %}">NEW CHILD FORM</a>
</nav>
</section>

<div class="daily-report">
  <!-- <h2>Diapers</h2>
  <form id="diaper" action="{% url "diapering" %}" name="diaper-form" method="post">
    {% csrf_token %}
    <h3>Please select childs potty details</h3>
      Time:<input type="time" for="id_time_diaper"/>
      #1: <input type="checkbox" for="id_num_one" name="potty" value="number one"/>
      #2: <input type="checkbox" for="id_num_two" name="potty" value="number two"/>
      <p><textarea for="id_comments" name="myTextArea" cols="40" rows="1">comments</textarea></p><br/>
      <input type="submit" id="save_child" value="Save"/>
      <button type="reset" class="btn btn-default">Clear</button>
  </form> -->
  {% block diapering_form %}
      {% include "diapering_form.html" %}
      {% endblock %}

  <!-- <h1>Add A Diaper Change</h1>
  <form action="{% url "diapering" %}" method="POST">
    {% csrf_token %}
    <ul>
      <li><label for="id_dailyreport">DailyReport:</label>{{ form.dailyreport }}</li>
      <li><label for="id_time_diaper">Diaper Time:</label>{{form.time_diaper}}</li>
      <li><label for="id_num_one">Number one:</label>{{form.num_one}}</li>

      <li><label for="id_num_two">Number two:</label>{{form.num_two}}</li>
      <li><label for="id_comments">Comments:</label>{{form.comments}}</li>
    </ul>
    <button type="reset" class="btn btn-default">Clear</button>
    <button type="submit" id="save_child" class="btn btn-default" value="Save">Save</button>
  </form> -->
  <table>
			<thead>
				<tr>
					<th>Diaper Time</th>
					<th>Number one</th>
					<th>Number two</th>
					<th>Comments</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{form.time_diaper}}</td>
					<td>{{form.num_one}}</td>
					<td>{{form.num_two}}</td>
					<td>{{form.comments}}</td>
				</tr>
			</tbody>
 </table>
</div>
<div class="daily-report">
  <h2>Sleeping</h2>
  <form id="sleeping" name="diaper-form" method="post">
    <h3>Nap time</h3>
    Time:<input type="time"/>
    slept: <input type="checkbox" name="slept" value="slept"/>
    did not sleep: <input type="checkbox" name="did not sleep" value="no sleep"/><br/>
    <p><textarea name="myTextArea" cols="40" rows="1">Duration of sleep</textarea></p><br/>
    <input type="submit" value="Save"/>
  </form>
  <table>
			<thead>
				<tr>
					<th>Time</th>
					<th>Yes</th>
					<th>No</th>
					<th>Duration</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1:00pm</td>
					<td>X</td>
					<td></td>
					<td>2 hours</td>
				</tr>
      </tbody>
 </table>
</div>
<div class="daily-report">
  <h2>Eating</h2>
  <form id="eating" name="eating" method="post">
    <h3>Eating schedule</h3>
    Time:<input type="time"/>
    Type: <input type="text" name="type" value="type of food"/><br/>
    Amount: <input type="text" name="amount" value="amount of food"/>
    <p><textarea name="myTextArea" cols="40" rows="1">comments</textarea></p><br/>
    <p><input type="submit" value="Save"/></p>
  </form>
  <table>
			<thead>
				<tr>
					<th>Time</th>
					<th>Type</th>
					<th>Amount</th>
					<th>Comments</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1:00pm</td>
					<td>bottle</td>
					<td>2 oz</td>
					<td>ate very well</td>
				</tr>
      </tbody>
 </table>
</div>
<div class="daily-report"></div>
{% endblock %}
