{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<section class="welcome-page">

  <div class="main-image"> <img src="{% static 'img/careday1.jpg' %}" alt="child playing"/>
    <div id='overlay'>
    </div>
  </div>

          {% block toggle_login %}
          {% include "toggle_login.html" %}
          {% endblock %}
          <h3 id="welcome">Welcome to Careday</h3>
          <p id="instruction">To find out more about
             what our product can do for you <a class="scroll" href="#">Click Here</a></p>
</section>
{% endblock %}
