{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<section class="welcome-page">

  <div class="main-image"> <img src="{% static 'img/careday1.jpg' %}" alt="child playing"/>
    <div id='overlay'>
    </div>
  </div>

          {% block toggle_login %}
          {% include "toggle_login.html" %}
          {% endblock %}
          <h3 id="welcome">Welcome to CareDay</h3>
          <p id="instruction"><a class="scroll" href="#">To find out more about
             what our product can do for you scroll down</a></p>
</section>
<footer id="about-us">
   <div class="site-wrapper">
    <div class="site-wrapper-inner">
     <div class="cover-container">

     <div class="top-footer">
       <h1 class="cover-heading">Careday</h1>
       <p class="lead">The typical communication tool for day care centers is pen and paper.  We sought to organize the typical tasks into a simple web application.   Day care workers enter data for diapering, sleeping, and eating over the course of a child’s stay.   A summary page can be provided to the parent at the end of the day while capturing activity metrics over time for later use.  We expect the application can be expanded with additional tasks to be tracked and by adding management reports to track day care operation.
 .</p>
       
         <a id="goback" href="#" class="btn btn-lg btn-default">Go Back</a>

     </div>
      <div class="main-footer">
        <div class="row">
        <div class="col-sm-9">
          <p>Ryan Burton - Python Engineering</br>
            rryanburton@gmail.com</br>
            gitgub: rryanburton</br>
          </p>
        </div>
        <div class="col-sm-9">
          <p>Bob Amand - Python Engineering</br>
             biotmg@nc.rr.com</br>
             github: BobAmand</br>
          </p>
        </div>
        <div class="col-sm-9">
          <p>Terry Calhoun - Front End Engineering</br>
             ddc@terrymcalhoun.com</br>
             github: drumslayert</br>
          </p>
        </div>
        </div>
       <div class="inner">
         <p>created by<a href="#">Ryan</a>,<a href="#">Bob</a>&<a href="https://twitter.com/drumslayert">@drumslayert</a>.</p>
       </div>
      </div>
    </div>
  </div>
 </div>
</footer>
{% endblock %}
