{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block content %}
<section class="welcome-page">

  <div class="main-image"> <img src="{% static 'img/careday1.jpg' %}" alt="child playing"/>
    <div id='overlay'>
    </div>
  </div>

          {% block toggle_login %}
          {% include "toggle_login.html" %}
          {% endblock %}
          <div id="welcome">
            <h1>Welcome to <span class="C-D">CareDay</span></h1>
            <p id="instruction"><a class="scroll" href="#">Technology for small to medium-sized child care facilities<br>
               Replaces paper for tracking Day Care activity<br>
               Provides a daily record for parents<br>
               Provides historical record by child<br>
               Longer term record of activities for the Day Care<br>
               Scalable to new age groups and activities</a></p>
          </div>
</section>
<footer id="about-us">
   <div class="site-wrapper">
    <div class="site-wrapper-inner">
     <div class="cover-container">

     <div class="top-footer">
       <!-- <h1 class="cover-heading">Welcome to Careday</h1>
       <p class="lead">
          Leveraging technology for small to medium-sized Day Care Facilities.
          	Replaces paper for tracking Day Care activity.
          	Provides a daily record for parents.
          	Provides historical record by child.
          	Longer term record of activities for the Day Care.
          	Scalable to new age groups and activities.</p> -->

         <!-- <a id="goback" href="#" class="btn btn-lg btn-default">Go Back</a> -->

     </div>
      <div class="main-footer">
        <div class="row">
        <div class="col-sm-9">
          <p>Ryan Burton</br>
            Python</br>
            <a href="rryanburton@gmail.com?subject=SweetWords
            &body=Please send me some more information about your new program!"><i class="fa fa-envelope"></i>&nbsp; Contact Me</a></br>
            <a href="https://github.com/rryanburton"><i class="fa fa-github"></i>&nbsp; rryanburton</a></br>
          </p>
        </div>
        <div class="col-sm-9">
          <p>Bob Amand</br>
             Python</br>
             <a href="mailto:biotmg@nc.rr.com?subject=SweetWords
             &body=Please send me some more information about your new program!"><i class="fa fa-envelope"></i>&nbsp; Contact Me</a></br>
             <a href="https://github.com/BobAmand"><i class="fa fa-github"></i>&nbsp; BobAmand</a></br>
          </p>
        </div>
        <div class="col-sm-9">
          <p>Terry Calhoun</br>
             Front End<br>
             <a href="mailto:ddc@terrymcalhoun.com?subject=SweetWords
             &body=Please send me some more information about your new program!"><i class="fa fa-envelope"></i>&nbsp; Contact Me</a></br>
             <a href="https://github.com/drumslayert"><i class="fa fa-github"></i>&nbsp; drumslayert</a></br>
          </p>
        </div>
        </div>
       <div class="inner">
         <p>created by<a href="#">Ryan</a>,<a href="#">Bob</a>&<a href="https://twitter.com/drumslayert">@drumslayert</a>.</p>
       </div>
      </div>
    </div>
  </div>
 </div>
</footer>
{% endblock %}
