{% extends "base.html" %}
{% load bootstrap3 %}

{% bootstrap_javascript jquery=1 %}
{% bootstrap_css %}
{% block content %}

<h1>Recording Nap Times</h1>
<form action="{% url "sleeping" %}" method="POST">
  {% csrf_token %}
  <ul>
    <li><label for="id_dailyreport_id">DailyReport:</label>{{ form.dailyreport_id }}</li>
    <li><label for="id_time_slp_start">Nap start:</label>{{form.time_slp_start}}</li>
    <li><label for="id_time_slp_end">Nap end:</label>{{form.time_slp_end}}</li>
  </ul>
  <button type="reset" class="btn btn-default">Clear</button>
  <button type="submit" id="save_child" class="btn btn-default" value="Save">Save</button>
</form>

{% endblock %}
