{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}
{% bootstrap_messages %}


<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CareDay</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <link rel="stylesheet" href="{% static 'jquery/jquery-ui.min.css' %}"/>
    <style>
a:link    {color:black; background-color:transparent; text-decoration:none}
a:visited {color:black; background-color:transparent; text-decoration:none}
a:hover   {color:black; background-color:transparent; text-decoration:none}
a:active  {color:black; background-color:transparent; text-decoration:none}
</style>
</head>
<body>
    <script src="/static/jquery/jquery-ui.min.js"></script>
    <script src="/static/custom.js"></script>
   <div class="container-fluid">
   <!--  <div>  -->
    <header class="main-header">

{% if user.is_authenticated %}
        <h1><a href="child">CareDay</a></h1>
{% else %}
        <h1>CareDay</h1>
{% endif %}
<nav id="tablet">
  <ul class="navigation group">
      <li><a class="scroll" href="#">About us</a></li>
        <li><a href="child">Child Roster</a></li>
        <li><a href="child/new">Child management</a></li>
        <li><a href="calendar">Archive</a></li>
    </ul>
</nav>
  <nav id="main-nav">
    <a class="scroll" href="#">About us</a>
    <a href="child/new">Child management</a>
    <a href="child">Child Roster</a>
    <a href="calendar">Archive</a>
    <a href="/">Login/Logout</a>
  </nav>

  </header></div>
  <main class="container">
  {% block content %}
  {% endblock %}
  </main> <!-- end main.container -->
<br>
<footer id="about-us">
   <div class="site-wrapper">
    <div class="site-wrapper-inner">
     <div class="cover-container">
      <div class="masthead clearfix">
     </div>
     <div class="inner cover">
       <h1 class="cover-heading">What is Careday.</h1>
       <p class="lead">The typical communication tool for day care centers is pen and paper.  We sought to organize the typical tasks into a simple web application.   Day care workers enter data for diapering, sleeping, and eating over the course of a child’s stay.   A summary page can be provided to the parent at the end of the day while capturing activity metrics over time for later use.  We expect the application can be expanded with additional tasks to be tracked and by adding management reports to track day care operation.
 .</p>
       <p class="lead">
         <a href="#" class="btn btn-lg btn-default">Go Back</a>
       </p>
     </div>
      <div class="mastfoot">
        <ul id="Ryan">
          <li>Ryan Burton - Python Engineering</li>
          <li>rryanburton@gmail.com</li>
          <li>gitgub: rryanburton</li>
        <ul>
        <ul id="Bob">
          <li>Bob Amand - Python Engineering</li>
          <li>biotmg@nc.rr.com</li>
          <li>github: BobAmand</li>
        <ul>
        <ul id="Terry">
          <li>Terry Calhoun - Front End Engineering</li>
          <li>ddc@terrymcalhoun.com</li>
          <li>github: drumslayert</li>
        <ul>
       <div class="inner">
         <p>created by<a href="#">Ryan</a>,<a href="#">Bob</a>&<a href="https://twitter.com/drumslayert">@drumslayert</a>.</p>
       </div>
      </div>
    </div>
  </div>
 </div>
</footer>
</body>
</html>
